<header>
  <h1 class="logo">Mein Land</h1>
  <ul class="menu">
    <li><a href="/">Home</a></li>
    <a href="/about"><li>About us</li></a>
    <a href="/user/John"><li>My page</li></a>
  </ul>
  <form method="post" action="/check-user" class="search-box">
    <input name="username" placeholder="User name.." type="text" />
    <button type="submit">Search</button>
  </form>
</header>
